body, html{
	font-family: 'Poppins', sans-serif;
	background: #F9F9F9
}
#bg-front{
	background: url(../img/front-bg.png);
	background-size: 1174px;
	background-repeat: no-repeat;
	padding-bottom: 120px;
	padding-top: 60px;
}
#bg-front2{
	background: url(../img/front-bg2.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#bg-front3{
	background: url(../img/front-bg3.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.section{
	padding-left: 125px;
	padding-right: 125px;
}
a, a:hover{
	color: black;
	text-decoration: none;
}
.navbar ul li {
	list-style: none;
	float: left;
	text-align: right;
	padding: 18px 10px 18px 50px;
}
.navbar ul li a{
	text-align: right;
}
.row-no{
	padding: 0 !important
}
.no-padding{
	padding: 0 !important;
}
.let-space1{
	letter-spacing: 1px
}
.let-space2{
	letter-spacing: 2px
}
.mt-18{
	margin-top: 18px
}
.mt-25{
	margin-top: 25px
}
.mt-31{
	margin-top: 31px
}
.mt-34{
	margin-top: 34px
}
.mt-64{
	margin-top: 64px;
}
.mt-75{
	margin-top: 75px;
}
.mt-108{
	margin-top: 108px
}
.mt-114{
	margin-top: 114px
}
.mt-153{
	margin-top: 153px
}
.mt-183{
	margin-top: 183px
}
.mt-210{
	margin-top: 210px
}
.mt-251{
	margin-top: 251px
}
.btn-lg{
	padding: 18px 37px;
}
.btn-rounded{
	border-radius: 50px
}
.line-h{
	line-height: 32px;
}
.line-h22{
	line-height: 22px;
}
.clr-white{
	color: white;
}
.clr-grey{
	color: #9E9E9E;
}
.clr-blue{
	color: #3B9AE0;
}
.bg-white{
	background: white
}
.bg-dk-blue{
	background:#6DB6EC
}
.fixed-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:70px;
	z-index: 999;
}
.font-150{
	font-size: 150px;
}
.font-48{
	font-size: 48px;
}
.font-40{
	font-size: 40px;
}
.font-20{
	font-size: 20px;
}
.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-14{
	font-size: 14px;
}
.font-12{
	font-size: 12px;
}
.sm-bold{
	font-weight: 600;
}
.box-img{
	overflow: hidden;
}
.bordered{
	border:2px solid #88CDFF;
}
#front-img{
	width:460px !important;
	height: 400px;
	margin-top: 10px;
	border-radius: 40px;
	box-shadow: 0px 0px 50px rgba(158, 158, 158, 0.25);
}
#front-img2{
	width:432px !important;
	height: 324px;
	border-radius: 30px;
	box-shadow: 0px 0px 50px rgba(158, 158, 158, 0.25);
}
#img-w-bg{
	background: url(../img/bg-image.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	height: 350px;
}
.box-service{
	border-radius: 10px;
	padding:60px 5px 30px 5px;
	margin-bottom: 55px;
}
.box-blue{
	border:1px solid #88CDFF;
}
.box-red{
	border:1px solid #FF7F7F;
}
.box-green{
	border:1px solid #A1E3BB;
}
.box-purple{
	border:1px solid #A58FFC;
}
.box-service p{
	margin-top: 40px
}
#swiper-service .swiper-slide{
	padding: 0 1px
}
#swiper-testi{
	padding-bottom: 50px !important;
}
.border-left{
	border-left:1px solid #DEDEDE;
	padding-left: 59px !important;
}
#img-do-it{
	width: 489px;
	height: 354px;
	box-shadow: 0px 0px 30px rgba(158, 158, 158, 0.25);
	border-radius: 30px;
}
.card-product{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 50px rgba(222, 222, 222, 0.25);
	padding-bottom: 10px !important;
}
.box-img-product{
	height: 210px;
	overflow: hidden;
}
.read-more{
	display: none;
}
.card-product:hover{
	background: linear-gradient(120.86deg, #C0E4FF 1.4%, #3B9AE0 78.47%);
}
.card-product:hover p{
	color: white
}
.card-product:hover .read-more{
	display: block;
}
.card-partnership{
	border-radius: 15px;
	padding: 25px;
	margin-bottom: 42px;
	box-shadow: 0px 0px 50px rgba(222, 222, 222, 0.25);
}
@media only screen and (max-width: 768px){
	.section{
		padding-left: 18px !important;
		padding-right: 18px !important;
	}
	#bg-front{
		padding-top: 0px;
	}
	#front-img{
		width: 100% !important
	}
	#front-img2{
		height: 240px;
		width: 100% !important
	}
	#front-img3{
		width: 100% !important
	}
	.font-48{
		font-size: 32px
	}
	.mt-251{
		margin-top: 50px;
	}
	.mt-114{
		margin-top: 50px;
	}
	.mt-183{
		margin-top: 50px;
	}
	.mt-210{
		margin-top: 50px
	}
	#swiper-service{
		margin-top: 50px;
	}
	.card-product{
		margin-bottom: 50px
	}
	#bg-front2{
		background: transparent;
	}
	#bg-front3{
		background: transparent;
	}
	#bg-front3 .font-48{
		color: black !important;
	}
	#bg-front3 .font-18{
		color:#9E9E9E !important;
	}
	#front-img{
		margin-top: 50px;
		border-radius: 10px;
		height: 250px;
	}
	#front-img img{
		width: 100%
	}
	#img-w-bg{
		background: transparent;
		height: 250px
	}
	#front-img2{
		border-radius: 10px;
		height: 200px;
	}
	#front-img2 img{
		width: 100%
	}
}